body {
  background-image: url(file:///Users/colin/Desktop/tictactoe/images/shiningtrim.jpg);
  font-family: 'Cinzel', serif;
}

header {
  height: 80px;
  color: white;
}

.board {
  background-color: rgb(244, 112, 33);
  height: 600px;
  width: 600px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(83, 39, 20);
  margin-bottom: 100px;
}

.toprow div {
  display: inline-block;
}

#topleftbox {
  height: 195px;
  width: 195px;
  border-bottom: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
}

#topmiddlebox {
  height: 195px;
  width: 190px;
  border-bottom: solid 5px rgb(83, 39, 20);
  border-left: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
}

#toprightbox {
  height: 195px;
  width: 195px;
  border-bottom: solid 5px rgb(83, 39, 20);
  border-left: solid 5px rgb(83, 39, 20);
}

.middlerow div {
  display: inline-block;
}

#middleleftbox {
  height: 190px;
  width: 195px;
  border-top: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
  border-bottom: solid 5px rgb(83, 39, 20);
}

#middlemiddlebox {
  height: 190px;
  width: 190px;
  border: solid 5px rgb(83, 39, 20);

}

#middlerightbox {
  height: 190px;
  width: 195px;
  border-top: solid 5px rgb(83, 39, 20);
  border-bottom: solid 5px rgb(83, 39, 20);
  border-left: solid 5px rgb(83, 39, 20);

}

.bottomrow div {
  display: inline-block;
}

#bottomleftbox {
  height: 195px;
  width: 195px;
  border-top: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
}

#bottommiddlebox {
  height: 195px;
  width: 190px;
  border-top: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
  border-left: solid 5px rgb(83, 39, 20);
}

#bottomrightbox {
  height: 195px;
  width: 195px;
  border-left: solid 5px rgb(83, 39, 20);
  border-top: solid 5px rgb(83, 39, 20);
}

