body {
  background-image: url(file:///Users/colin/Desktop/tictactoe/images/shiningtrim.jpg);
  font-family: 'Copse', serif;
}

p {
  font-size: 16pt;
}

header {
  height: 50px;
  color: white;
}

.lefty {
  color: white;
  text-align: right;

}

.board {
  background-color: rgb(244, 112, 33);
  height: 600px;
  width: 600px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(83, 39, 20);
  margin-bottom: 50px;
}

.toprow div {
  display: inline-block;
}

#topleftbox {
  height: 195px;
  width: 195px;
  border-bottom: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);
}

#topleftbox:hover {
  background-color: rgb(197, 31, 43);
}

#topmiddlebox {
  height: 195px;
  width: 190px;
  border-bottom: solid 5px rgb(83, 39, 20);
  border-left: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);
}

#topmiddlebox:hover {
  background-color: rgb(197, 31, 43);
}

#toprightbox {
  height: 195px;
  width: 195px;
  border-bottom: solid 5px rgb(83, 39, 20);
  border-left: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);
}

#toprightbox:hover {
  background-color: rgb(197, 31, 43);
}

.middlerow div {
  display: inline-block;
}

#middleleftbox {
  height: 190px;
  width: 195px;
  border-top: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
  border-bottom: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);
}

#middleleftbox:hover {
  background-color: rgb(197, 31, 43);
}

#middlemiddlebox {
  height: 190px;
  width: 190px;
  border: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);

}

#middlemiddlebox:hover {
  background-color: rgb(197, 31, 43);
}

#middlerightbox {
  height: 190px;
  width: 195px;
  border-top: solid 5px rgb(83, 39, 20);
  border-bottom: solid 5px rgb(83, 39, 20);
  border-left: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);

}

#middlerightbox:hover {
  background-color: rgb(197, 31, 43);
}

.bottomrow div {
  display: inline-block;
}

#bottomleftbox {
  height: 195px;
  width: 195px;
  border-top: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);
}

#bottomleftbox:hover {
  background-color: rgb(197, 31, 43);
}

#bottommiddlebox {
  height: 195px;
  width: 190px;
  border-top: solid 5px rgb(83, 39, 20);
  border-right: solid 5px rgb(83, 39, 20);
  border-left: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);
}

#bottommiddlebox:hover {
  background-color: rgb(197, 31, 43);
}

#bottomrightbox {
  height: 195px;
  width: 195px;
  border-left: solid 5px rgb(83, 39, 20);
  border-top: solid 5px rgb(83, 39, 20);
  background-color: rgb(244, 112, 33);
}

#bottomrightbox:hover {
  background-color: rgb(197, 31, 43);
}

